body{
  text-align: center;
  margin: auto;
  background-image: url(./IMG_5969.jpg);
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
  
}
#backgroundimg{
  background-color: rgba(0, 0, 0, 0.7);
  background-size: 100%;
  width: 100%;
  height: 100%;
}
#header{
  height: 300px;
  width: 300px;
  position: absolute;
}
#top_joinnow{
  position: relative;
  margin-top: 65px;
  margin-left: 10px;
}
#logo{
  max-width: 550px;
  max-height: 550px;
}
.h1_logo{
  color: white;
  font-size: 70px;
  position: relative;
  bottom: 150px;
  font-family: 'Heebo', sans-serif;
  text-shadow: 2px 12px 13px #000000;
}
.infinity_red{
  color: red;
  font-family: 'Heebo', sans-serif;
  font-weight: bold;
}
.abut{
  font-family: 'Heebo', sans-serif;
  color: white;
  font-size: 23px;
}
.h3_abut{
  font-family: 'Heebo', sans-serif;
  color: white;
  font-size:25px;
}
.h2_abut{
  font-family: 'Heebo', sans-serif;
  color: white;
  font-size: 35px;
}
.div_abut{
  background-color:#000000;
  position: relative;
  top: 10px;

}
.arrow{
  width: 20px;
  height: 35px;
  transform: rotate(90deg)
}

h1 { margin:150px auto 30px auto; text-align:center; color:#fff;}

  .hi-slide { position: relative; width: 754px; height: 292px; margin: 115px auto 0; }
  
.hi-slide .hi-next,
.hi-slide .hi-prev 
  { position: absolute;
    top: 50%; 
    width: 40px;
    height: 40px; 
    margin-top: -20px;     
      border-radius: 50px; 
        
      
    line-height: 40px;
    text-align: center; 
    cursor: pointer;
    background-color: #fff; 
    color: black;               
    transition: all 0.6s;
    font-size: 20px; 
      font-weight: bold;
  }
  .hi-slide .hi-next:hover, 
  .hi-slide .hi-prev:hover 
  {
  opacity: 1; 
  background-color: #fff;  
  }
  
  .hi-slide .hi-prev { left: -60px; }
  
.hi-slide .hi-prev::before { content: '<'; }
.hi-slide .hi-next { right: -60px; }
.hi-slide .hi-next::before { content: '>'; }

.hi-slide > ul
{ 
  list-style: none; 
  position: relative;
  width: 754px; 
  height: 292px; 
  margin: 0;
  padding: 0;
}
  
  
.hi-slide > ul > li {
  overflow: hidden; 
  position: absolute; 
  z-index: 0; 
  left: 377px;
  top: 146px; 
  width: 0; 
  height: 0; 
  margin: 0; 
  padding: 0;
  border: 3px solid #fff;              
  background-color: #333; 
  cursor: pointer; }
  
.hi-slide > ul > li > img { width: 100%; height: 100%; background-position: center;}





.hi-slide{position:relative;width:754px;height:292px;margin:115px auto 0}.hi-slide .hi-next,.hi-slide .hi-prev{position:absolute;top:50%;width:40px;height:80px;margin-top:-40px;border-radius:5px;line-height:80px;text-align:center;cursor:pointer;background-color:#666;color:#fff;opacity:.7;transition:all .6s;font-size:30px}.hi-slide .hi-next:hover,.hi-slide .hi-prev:hover{opacity:1;background-color:#444}.hi-slide .hi-prev{left:-60px}.hi-slide .hi-prev::before{content:'<'}.hi-slide .hi-next{right:-60px}.hi-slide .hi-next::before{content:'>'}.hi-slide>ul{list-style:none;position:relative;width:754px;height:292px;margin:0;padding:0}.hi-slide>ul>li{overflow:hidden;position:absolute;z-index:0;left:377px;top:146px;width:0;height:0;margin:0;padding:0;border:2px solid #fff;border-radius:5px;background-color:#333;cursor:pointer}.hi-slide>ul>li>img{width:100%;height:100%}


.swiper-container {
  width: 500px;
  height: 360px;
  display: none;
}
.swiper-slide{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  display: none;

}
.slider_img{
  width: 300px;
  height: 300px;
  border-radius: 3%;
  display: none;


}


 .joinnow{
   width: 200px;
   height: 50px;
   cursor: pointer;
   margin-top: 20px;
   background: none;
   color: white;
   font-size: 18px;
   font-weight: bold;
   border-radius: 5px;
   border: solid white 2px;
 }

#blackcontainer{
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  height: 650px;
  background-color: black;
  
}

.icons_div{
  display: flex;
}



#info_title{
  font-size: 30px;
  color: white;
  font-family: 'Heebo', sans-serif;
  font-weight: bold;
  padding-top: 50px;
}

.all_info{
  margin-right: 205px;
  margin-left: 205px;
  display: flex;
  
}

.info_img{
  flex: 1;
  color: white;
}

.only_img{
  
  height: 60.91px;
}

.below_img_tile{
  font-family: 'Heebo', sans-serif;
  color: white;
  font-size: 28px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.below_title_info{
  font-family: 'Heebo', sans-serif;
  color: white;
  font-size: 16px;
  font-weight: bold;
  margin: 0px
}

.training_info{
  flex: 1;
  color: white;
  margin-top: 80px;
}
.h3_training_info{
  font-family: 'Heebo', sans-serif;
  color: white;
  font-size: 28px;
  margin-top: 0;
  
}
.info_buttun{
  flex: 1;
  justify-content: space-between;
}
.joinnow_training, .joinnow_training1, .joinnow_training2{
  width: 200px;
   height: 50px;
   cursor: pointer;
   margin-top: 0px;
   background: none;
   color: white;
   font-size: 18px;
   font-weight: bold;
   border-radius: 5px;
   border: solid white 2px;
   
}

#contact_social{
  height: 250px;
  color: white;
  font-family: 'Heebo', sans-serif;
}

.title_contact{
  font-size: 27px;
  margin-right: 9px;
}
.contact_flex{
  display: flex;
  margin-right: 205px;
  margin-left: 205px;
  margin-top: 40px;
}
.semi_title_contact_and_info{
  flex: 1;
  margin-top: 7px;
}

.semi_title_contact{
  margin-top: 1px;
  font-size: 25px;
  
}

.only_img_contact{
  height: 55.91px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 2%;
  
}
.follow_us_sub_img{
  height: 50px;
  margin-left: 10px;
  margin-right: 10px;
}
#follow_us_img{
  margin-bottom: 10px;
}

#only_phone{
  margin-bottom: 10px;
  
}
#only_waze{
  margin-bottom: 10px;
}

.contact_info{
  font-size: 18px;
  font-family: 'Heebo', sans-serif;
  color: white;
  font-weight: bold;
  margin: 0px;
  
}


.modal, .modal1, .modal2{
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 600ms ease-in-out;
  z-index: 10;}
  
.modal.active, .modal1.active, .modal2.active{
  transform: translate(-50%, -50%) scale(1);

}

.close-button, .close-button1, .close-button2{
  color: #ffffff;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  position: relative;
  font-size: 95px;
  margin-left: 825px;
  top: 135px;
}

.popup_img{
  width: 1100px;
  height: 750px;
  
}
.popup_img2{
  display: none;
}
.joinnow_popups, .joinnow_popups1, .joinnow_popups2{
  width: 200px;
   height: 50px;
   cursor: pointer;
   margin-top: 0px;
   background: none;
   color: white;
   font-size: 18px;
   font-weight: bold;
   border-radius: 5px;
   border: solid white 2px;
   position: relative;
   bottom: 85px;
   
}
#credits{
  font-size: 12px;
  font-family: 'Heebo', sans-serif;
  color: white;
  text-align: center;
  padding-left: 15px;
  font-weight: bold;

}


@media screen and (min-width: 320px) and (max-width: 480px)
 {
  
  html, body{
    width:100%;
    overflow-x:hidden;
    background-image: none;
    }
    #backgroundimg{
      background-color: rgba(0, 0, 0, 0.6);
    }
    #blackcontainer{
      height: 695px;
    }
    #header{
      height: 150px;
    width: 100px;}
    
  #top_joinnow{
    width: 150px;
    height: 50px;
    cursor: pointer;
    margin-top: 20px;
    margin-right: 30px;
    background: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 16%;
    border: solid white 2px;
  }

 #logo{
    
    max-width: 350px;
    max-height: 500px;
    margin-top: 65px;
  }
   
  .h1_logo{
      font-size: 33px;
      margin-top: 100px;
      
    }

  .infinity_red{
    display: block;

  }
.slider_img{
  margin-right: 205px;
  margin-left: 205px;
   width: 240px;
    height: 270px;
    display: inline;
}
.swiper-container{
  width: 350px;
  display: block;
}
.swiper-slide{
  display: block;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;

}

.slide, .hi-slide{
  display: none;
}
ul{
  display: none;
}

.popup_img{
  display: none;
  
}
.joinnow_popups, .joinnow_popups1, .joinnow_popups2{
  width: 120px;
    position: relative;
    margin: 0px;
    margin-top: 28px;
    font-size: 15px;
    height: 35px;
}
.close-button, .close-button1, .close-button2{
  color: #ffffff;
  font-size: 60px;
  margin: 0;
  top: 0%;
  top: 90px;
  left: 44%;

}
.popup_img2{
  display: inline-block;
  width: 350px;
  height: auto;
  margin: 0px;  
  margin-top: 10%;
  
}

#info_title{
  font-size: 17px;
  padding-top: 15px;
}

.below_img_tile{
  font-size: 20px;
  margin-top: 5px;
}

.all_info{
  margin: 0px;
  display: block;
}

#all_traning{
  display: flex;
  margin-top: 11%;
}

.below_title_info{
  font-size: 15px;
}

.only_img{
  width: 55px;
  height: 55px;
  margin-top: 20px;
}

.info_img{
  height: auto;
  position: relative;
  margin-top: 1.6%;
  margin-bottom: 1.6%;
}

.training_info{
  margin-top: 0px;
  
}

.joinnow_training, .joinnow_training1, .joinnow_training2{
width: 175px;
font-size: 19px;
border-radius: 5%;
border: solid #ffffff 2px;
}


#contact_social{
  margin-top: 625px;
  height: 605px;
}
.contact_info{
  font-size: 15px;
}
.contact_flex{
  background-color: black;
}
#only_waze{
  margin: 0px;
  margin-top: 20px;
}
/* .semi_title_contact_and_info{
  max-height: 150px;
} */
#follow_us_img{
  margin-top: 10%;
  margin-bottom: 10px;
}
.only_img_contact{
  margin-top: 10%;
  width: 60px;
  height: 60px;
}
.follow_us_sub_img{
  height: 50px;
  margin-left: 10px;
  margin-right: 10px;
}
.semi_title_contact{
  margin: 2%;
  font-size: 20px;
}
.semi_title_contact_and_info{
  margin: 0px;
}
.contact_flex{
  margin: 0;
  display: block;
}
.training_info{
  margin-top: 65px;
}

#all_traning{
  display: block;
}
.h3_training_info{
  font-size: 30px;
  margin-bottom: 35px;
}
#credits{
  display: block;
  padding-top: 35px;
  background-color: black;
  padding-left: 10px;
  padding-bottom: 5px;
}
a:link, a:visited{
  color: black;
}

}
/* End of most of smartphone query*/

/* Desktop query fix */
@media (min-width: 1281px) {
  
  #contact_social{
    display: flex;
    text-align: center;
  }
  #follow_us{
    flex: 1;
  }
  #call_info{
    flex: 1;
  }

  #adress_info{
    flex: 1;
  }
  
  .contact_flex{
    margin: 0px;
    flex: 1;
  }

}

@media screen and (min-width: 375px) and (max-width: 812px)
  and (-webkit-device-pixel-ratio : 3)and (-webkit-overflow-scrolling:touch){
  
    html, body{
      width:100%;
      overflow-x:hidden;
      background-image: none;
      }
      
.phonebackgroundimg{
  background-image: url(./phone.jpeg);
  overflow:hidden;
  -webkit-overflow-scrolling:touch; 
  background-size: cover;
  background-attachment: fixed;
  }

.popup_img{
  display: none;
  
}
.joinnow_popups, .joinnow_popups1, .joinnow_popups2{
  width: 120px;
    position: relative;
    margin: 0px;
    margin-top: 28px;
    font-size: 15px;
    height: 35px;
}
.close-button, .close-button1, .close-button2{
  color: #ffffff;
  font-size: 60px;
  margin: 0;
  top: 0%;
  top: 90px;
  left: 44%;

}
.popup_img2{
  display: inline-block;
  width: 350px;
  height: auto;
  margin: 0px;  
  margin-top: 10%;
}

}